body{

    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}
footer{
background: #f1f1f1;
padding: 40px 0;
}

.space-between{
    display: flex;
    justify-content: space-between;
}

.footer-container{
    width: auto;
    margin: auto;
    padding: 0 20px;    
    align-items: center;
    flex-wrap: wrap-reverse;
}

.logo{
    width: 80px;
}

.social-media{
    margin: 20px 0;
}

.social-media a{
    color: #001a21;
    margin-right: 25px;
    font-size: 22px;
    text-decoration: none;
    transition: .3s linear;
}

.social-media a:hover{
    color: #f5c65f;
}

.right-col h2{
font-size: 26px;

}

.page-content{
    min-height: 70vh;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:960px){
    .footer-container{
        max-width: 600px;
    }
    .right-col{
        width: 100%;
        margin-bottom: 60px;
    }
    .left-col{
        width: 100%;
        text-align: center;
    }
}



@media screen and (max-width: 600px) {
    .footer-container{
        max-width: 300px;
    }
    .right-col{
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .left-col{
        width: 100%;
        text-align: center;
    }
  }